<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="wap-font-scale" content="no">
    <title>百科首页_非遗大百科</title>
    <script src="../../assets-wiki/js/flexible.min.js?t=201808031745"></script>
    <link rel="icon" type="image/x-icon" href="../../assets-wiki/images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../../assets-wiki/css/ency.css?t=201808031745">
</head>
<body>

<div class="ency js-page-load" id="ency">
    <wk-header :data="headData"></wk-header>
    <!--//End 导航-->

    <page-loading v-if="self.loading.show"></page-loading>
    <no-network v-if="!self.page.show"></no-network>

    <div class="page-hide1" id="mescroll" :class="{mescroll: true, 'not-data-back': pageObj.pdlist.length <= 0,'page-show':self.page.show}">
        <div>
            <div class="slider" style="height: auto;">
                <wk-swiper :swiper="pageObj.focus"></wk-swiper>
                <form>
                    <div class="search">
                        <div class="operation">
                            <input class="icon" type="image" src="../../assets-wiki/images/ency/search.png" name="">
                            <input class="keyword" type="text" name="" placeholder="请输入搜索关键词" @focus="toSearch">
                        </div>
                    </div>
                </form>
                <!--//End 表单结束-->
            </div>
            <!--//End 轮播图-->
            <div class="classify">
                <wk-category></wk-category>
            </div>
            <!-- <div > -->
            <wk-ency :datas="pageObj.pdlist" :recommend="true" :class="{'no-data': pageObj.pdlist.length <= 0}"></wk-ency>
            <!-- </div> -->
        </div>
    </div>
    
    <!--//End 内容-->
    <div class="ency-footer">
         <wk-footer :selected="pageObj.selectedIndex"></wk-footer>
    </div>
    <!--//End 底部-->
</div>

<script src="../../assets-wiki/js/system.js?t=201808031745"></script>
<script src="../../assets-wiki/js/lazyload.mescroll.min.js?t=201808031745?v=1.9.1"></script>
<script src="../../assets-wiki/js/swiper.min.js?t=201808031745"></script>
<script src="../../assets-wiki/data/category.js?t=201808031745"></script>
<script src="../../assets-wiki/js/tpls.js?t=201808031745"></script>
<script src="../../assets-wiki/js/utils.js?t=201808031745"></script>
<script src="../../assets-wiki/js/myApp.js?t=201808031745"></script>
<script src="ency-model.js?t=201808031745"></script>
<script>
    var app = new Vue({
        el: '#ency',
        data: {
            headData: {
                title: '百科',
            },
            mescroll: null,
            //轮播图数据
            // focus: [],
            // selectedIndex:2,
            // mescroll: null,
            // pdlist: [],
            // total: 0,

            pageObj: {
                ynum: 0,
                pageNum: 0,
                focus: [],
                selectedIndex:2,
                pdlist: [],
                total: 0,
            },
            self:{
                loading: {
                    show: true, //默认展示loading状态
                },
                page:{
                    data:null,
                    show:false
                }
            }
        },
        components: {
            wkHeader: wkHeader,  //导航
            wkFooter: wkFooter,  //底部
            wkEncy: wkEncy, // 百科列表
            wkSwiper: wkSwiper, // 轮播图
            wkCategory: wkCategory,
            pageLoading, //loading
            noNetwork //没有网络显示效果
        },
        mounted:function () {
            var self = this;
            self.pageInit();
            self.getSwiper(); // 获取轮播图
            self.mescroll = new MeScroll("mescroll", {
                up: {
                    callback: self.upCallback, //上拉回调
                    //以下参数可删除,不配置
                    isBounce: false, //此处禁止ios回弹,解析(务必认真阅读,特别是最后一点): http://www.mescroll.com/qa.html#q10
                    //page:{size:8}, //可配置每页8条数据,默认10
                    toTop:{ //配置回到顶部按钮
                        src : "../../assets-wiki/images/shop/return_dii.png", //默认滚动到1000px显示,可配置offset修改
                        //html: null, //html标签内容,默认null; 如果同时设置了src,则优先取src
                        //offset : 1000
                    },
                    empty:{ //配置列表无任何数据的提示
                        warpId:"dataList",
                        icon: "../../assets-wiki/images/icon-no-data@2x.png",
                        tip: "<div class=\"upwarp-nodata\"><p>暂无信息</p><p>当前没有更多信息，请稍后查询…</p></div>",
                    },
                    onScroll : function(mescroll, y, isUp){ 
                        // 每次滚动都重新记录
                        // console.log(y)
                        self.pageObj.ynum = y;
                        var encyListData = {
                            pageObj: self.$data.pageObj,
                            ajaxParam: self.$data.pageObj.param
                        }
                        mySessionStorage.setter("homeListData", encyListData);

                        var el = $("#mescroll")
                        self.$nextTick(function() {
                            el.trigger('scroll');
                            $("#mescroll").find("img.lazy").lazyload({
                                placeholder: "../../assets-wiki/images/default/default.png",
                                threshold :200,
                                container:el
                            });

                            setTimeout(()=>{
                                $("#mescroll").find("img.lazy").trigger('scroll');
                                $("img.lazy").lazyload({
                                    placeholder: "../../assets-wiki/images/default/default.png",
                                    threshold :200,
                                    container:el
                                });
                            },1000)
                        })
                    }
                }
            });

            this.loadingAndNoNetwork()
        },
        updated: function() {
            // 懒加载
            var self = this;
            self.$nextTick(function() {
                $("#mescroll").trigger('scroll');
                $("img.lazy").lazyload({
                    placeholder: "../../assets-wiki/images/default/default.png",
                    // effect: "fadeIn",
                    threshold :200
                });
                setTimeout(()=>{
                    $("#mescroll").trigger('scroll');
                    $("img.lazy").lazyload({
                        placeholder: "../../assets-wiki/images/default/default.png",
                        // effect: "fadeIn",
                        threshold :200
                    });
                },1000)
            })
        },
        methods:{
            pageInit: function() {
                var _this = this;
                var encyListData = mySessionStorage.getter("homeListData");
                if(encyListData) {
                    // encyListData.pageObj.pdlist = []; // 清空 防止闪烁
                    _this.pageObj = encyListData.pageObj;
                     // 定位到上次浏览的位置
                    if(_this.pageObj.ynum != 0) {
                        _this.$nextTick(function() {
                            _this.mescroll.scrollTo(_this.pageObj.ynum, 0);
                        })
                    }
                } else {
                  
                }
            },

            getSwiper: function() {
                var _this = this;
                var param = {
                    url: api.encySwiper,
                    data: {
                        type: 1
                    },
                    sCallback: function (res) {
                        if(res.code == 0) {
                            _this.self.page.data = res

                            _this.pageObj.focus = buildSwiper(res.data);
                            setTimeout(()=>{
                                _this.$nextTick(function () {
                                    var swiper = new Swiper('.slider .swiper-container', {
                                        pagination: '.swiper-pagination',
                                        slidesPerView: 1,
                                        paginationClickable: true,
                                        // spaceBetween: 30,
                                        autoplay: 5000,//可选选项，自动滑动
                                        loop: true
                                    });
                                    $(".swiper-slide").css("width", "100%"); // 修改宽度
                                })
                            },1000)
                        }
                    },
                    eCallback: function (err) {
                        errorCallback && errorCallback(err);
                    }
                }
                httpRequest(param);
            },

            upCallback: function(page) {
                var self = this;
                var params = {
                    objectId: 5
                }
                getDatas(page, params, function(curPageData) {
                    //如果是第一页需手动制空列表 (代替clearId和clearEmptyId的配置)
                    if(page.num == 1) self.pageObj.pdlist = [];
                    //更新列表数据
                    self.pageObj.pdlist = self.pageObj.pdlist.concat(curPageData);
                     //记录缓存
                    var searchListData = {
                        pageObj: self.pageObj,
                    }
                    mySessionStorage.setter("homeListData", searchListData);
                    // self.mescroll.endSuccess(curPageData.length);
                    // curPageData = [];
                    if(curPageData.length <=0) {
                        self.mescroll.hideTopBtn(); // 隐藏返回顶部
                    }
                    self.mescroll.endBySize(curPageData.length, self.pageObj.total);
                }, function(err) {
                    //联网失败的回调,隐藏下拉刷新和上拉加载的状态;
                    self.mescroll.endErr();
                })
            },

            toSearch: function() {
                mySessionStorage.setter("searchListData", null);
                window.location.href = rootName + "/pages/search/index.html";
            },

            toDetails: function(id) {
                console.log("id --- >", id);
            },

            //loading
            loadingAndNoNetwork(){
                var _data = mySessionStorage.getter('homeListData')
                if(_data){
                    this.self.loading.show = false
                    this.self.page.show = true
                }else {
                    for (let i = 1; i < 6; i++) {
                        setTimeout(()=>{
                            if(this.self.page.data){
                                this.self.loading.show = false
                                this.self.page.show = true
                            }
                        },i*500)
                    }
                }
                setTimeout(()=>{
                    this.self.loading.show = false
                },overTime)
            }
            
        }
    });
</script>
<script type="text/javascript" src="../../cordova.js"></script>

</body>
</html>