<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../../assets-wiki/js/flexible.min.js?t=201808031745"></script>
    <title></title>
    <link rel="icon" type="image/x-icon" href="../../assets-wiki/images/favicon.ico"/>
    <link rel="stylesheet" href="../../assets-wiki/css/information.css?t=201808031745">
</head>
<body style="top: 0px; position: fixed;">
<div id="information" class="information js-page-load">
    <wk-header :data="self.head" :share-data="share" v-if="is.header"></wk-header>
    <share-tip v-if="!is.header"></share-tip>

    <page-loading v-if="self.loading.show"></page-loading>
    <no-network v-if="!self.page.show"></no-network>

    <article class="container details page-hide" :class="{isShare:!is.header,'page-show':self.page.show}">
        <div class="main-img">
            <img :src="self.detail.headImg" alt="">
        </div>
        <div class="main-title" v-if="self.detail.title">
            <h1 v-text="self.detail.title"></h1>
            <div class="txt">
                <p v-if="self.detail.address"><i class="icon address"></i><span v-text="self.detail.address"></span>
                </p>
                <p><i class="icon time"></i><span v-text="self.detail.time"></span></p>
            </div>
        </div>
        <div class="main-content" v-if="self.detail.content">
            <div class="title">活动介绍</div>
            <div v-for="item in self.detail.content">
                <div class="txt" v-html="item.text"></div>
                <div class="img"><img :src="item.picture" alt=""></div>
            </div>
            <div class="statement">
                <div class="dt">活动声明</div>
                <div class="dd">
                    <p>活动均为活动发起人发布，非遗大百科的活动内容仅供访问者使用参考。</p>
                    <p>非遗大百科对因使用活动内容而产生的相关后果不承担任何商业和法律责任。</p>
                    <p>
                        非遗大百科的一切活动内容都是为了更好的服务用户。非遗大百科不保证所有活动信息、文本、图形、链接的真实性、有效性、安全性。请在参加活动前，与活动发起人具体确认核实相关情况，注意人身安全和财产安全。</p>
                </div>
            </div>
        </div>
    </article>

</div>


<script src="../../assets-wiki/js/system.js?t=201808031745"></script>
<script src="../../assets-wiki/js/utils.js?t=201808031745"></script>
<script src="../../assets-wiki/js/myApp.js?t=201808031745"></script>
<script src="../../assets-wiki/js/tpls.js?t=201808031745"></script>
<script src="../../assets-wiki/js/information.js?t=201808031745"></script>
<script>
    var app = new Vue({
        el: '#information',
        data: {
            self: {
                head: {
                    title: '',
                    isBack: true,
                    isShare: true
                },
                detail: {},
                loading: {
                    show: true, //默认展示loading状态
                },
                page:{
                    data:null,
                    show:false
                }
            },
            is: {
                blank: Boolean,
                header: true,
            },
            share: {}
        },
        computed: {
            isShare: function () {
                return getHttpParam('share') ? true : false
            }
        },
        components: {
            wkHeader, //导航
            shareTip: appShareTip,
            pageLoading, //loading
            noNetwork //没有网络显示效果
        },
        mounted: function () {
            this.getNewsDetail()
            this.isShare()
            this.loadingAndNoNetwork()
        },
        methods: {
            getNewsDetail: function () {
                getInformationDetail(1, (res) => {
                    if (res.code == 0) {
                        this.self.page.data = res
                        //处理时间格式
                        res.data.time = differTime(res.data.startDate.replace(new RegExp(/-/gm), "/"), res.data.endDate.replace(new RegExp(/-/gm), "/"))
                        this.self.detail = res.data
                        document.title = res.data.title + '_非遗大百科'
                        this.share = appDetailShare(res.data, hrefUrl.actidetails + getHttpParam('id'))
                        this.is.blank = false
                    } else {
                        this.is.blank = true
                    }

                })
            },
            isShare: function () {
                var share = getHttpParam('share')
                if (share) {
                    this.is.header = false
                }
            },
            //loading
            loadingAndNoNetwork(){
                for (let i = 1; i < 6; i++) {
                    setTimeout(()=>{
                        if(this.self.page.data){
                            this.self.loading.show = false
                            this.self.page.show = true
                        }
                    },i*1000)
                }
                setTimeout(()=>{
                    this.self.loading.show = false
                },overTime)
            }
        }
    })
</script>
<script type="text/javascript" src="../../cordova.js"></script>

</body>
</html>