@charset "utf-8";
//公共样式
@import "base/shop_reset";
//引入博物馆样式 museum.scss
@import "museum";

// 全景按钮
.pan_btn{
  width: 158rem/$size;
  height: 158rem/$size;
  border-radius: 50%;
  background: rgba(0,0,0,0.4);
  overflow: hidden;
  @include pos();
  top: 50%;
  margin-top: -79rem/$size;
  left: 50%;
  margin-left: -79rem/$size;
   z-index: 11;
  a{
    display: block;
    @extend %full;
    font-size: 42rem/$size;
    color: #FFFFFF;
    text-align: center;
    line-height: 158rem/$size;
    font-weight: lighter;
    text-decoration: none;
  }
}

// 全景展示
.pan_tion{
  @include pos();
  left: 0;
  top: 0;
  width: 100%;
  height: 1334rem/$size;
  z-index: 12;
}


// 百科按钮
.clop_btn{
  width: 207.47rem/$size;
  height: 60rem/$size;
  background: rgba(0,0,0,0.3);
  @include pos();
  right: 0;
  bottom: 139rem/$size;
  border-radius: 30rem/$size 0 0 30rem/$size;
  overflow: hidden;
  z-index: 13;
  a{
    display: block;
    @extend %full;
    font-size: 34rem/$size;
    text-align: center;
    line-height: 60rem/$size;
    color: #fff;
    font-weight: lighter;
    text-decoration: none;
  }
}
body{
  // 禁止页面滑动
  //overflow: hidden;
}
// 隐藏下拉按钮
.banner{
  h3{
      margin-bottom: 150rem/$size;
    }
}
