@charset "utf-8";
@import "base/reset";
@import "base/header";
@import "base/footer";

.modal-share {
  background: rgba(0,0,0,.5);
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  font-size: 0;
  img {
    width: 388rem/$font-size-base;
    position: absolute;
    top: 60rem/$font-size-base;
    right: 56rem/$font-size-base;
  }
}




.upwarp-nodata{
  font-size: 30rem/$font-size-base !important;
}

.mescroll-totop {
  width: 80rem/$font-size-base !important;
  height: 80rem/$font-size-base !important;
  right: 28rem/$font-size-base
}