html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
  margin: 0;
  padding: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, th, var, em, i {
  font-style: normal;
  font-weight: normal; }

ul, ol {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

a, a:active, a:hover {
  text-decoration: none; }

input, button {
  padding-top: 0;
  padding-bottom: 0;
  font-family: "Microsoft YaHei";
  border: 0; }

select, input {
  vertical-align: middle; }

select, input, textarea {
  font-size: 12px;
  margin: 0; }

input[type="text"], input[type="password"], textarea {
  outline-style: none;
  -webkit-appearance: none; }

textarea {
  resize: none; }

table {
  border-collapse: collapse; }

/*-reset-*/
html, body {
  background: #f6f6f6; }

body {
  max-width: 10rem;
  margin: 0 auto;
  position: relative; }

.container {
  margin-top: 1.0133333333rem;
  position: relative;
  z-index: 2; }

.is-footer {
  padding-bottom: 1.4266666667rem; }

/*vue*/
[v-cloak] {
  display: none; }

header {
  background: #fff;
  padding: 0 1.0133333333rem;
  height: 1.0133333333rem;
  font-size: 0.3733333333rem;
  color: #1b1b1b;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 4;
  border-bottom: 0.0133333333rem solid #f4f4f4; }
  header .abs-l {
    width: 1.0133333333rem;
    height: 1.0133333333rem;
    position: absolute;
    top: 0;
    left: 0; }
  header .abs-r {
    width: 1.0133333333rem;
    height: 1.0133333333rem;
    position: absolute;
    top: 0;
    right: 0; }
  header .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.24rem;
    margin-left: -0.24rem; }
    header .icon.menu {
      background: url(../../assets-wiki/images/header/header-icon-menu@2x.png) no-repeat;
      -webkit-background-size: 0.5066666667rem auto;
      background-size: 0.5066666667rem auto;
      width: 0.5066666667rem;
      height: 0.5066666667rem; }
    header .icon.back {
      background: url(../../assets-wiki/images/header/header-icon-back@2x.png) no-repeat;
      -webkit-background-size: 0.5066666667rem auto;
      background-size: 0.5066666667rem auto;
      width: 0.5066666667rem;
      height: 0.5066666667rem; }
    header .icon.share {
      background: url(../../assets-wiki/images/header/header-icon-share@2x.png) no-repeat;
      -webkit-background-size: 0.5066666667rem auto;
      background-size: 0.5066666667rem auto;
      width: 0.5066666667rem;
      height: 0.5066666667rem; }

.drawer {
  background: #eee;
  width: 6.4rem;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  transition: all 0s;
  -webkit-transform: translate3d(-6.4rem, 0, 0);
  transform: translate3d(-6.4rem, 0, 0);
  transition: all .2s; }
  .drawer .content {
    background: #fff;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2; }
    .drawer .content .avatar {
      text-align: center;
      padding-top: 1.3333333333rem; }
      .drawer .content .avatar .img {
        font-size: 0; }
        .drawer .content .avatar .img img {
          width: 1.6rem;
          height: 1.6rem;
          -webkit-border-radius: 1.6rem;
          border-radius: 1.6rem; }
      .drawer .content .avatar .link {
        color: #4183EA;
        margin-top: 0.3733333333rem;
        margin-bottom: 0.1333333333rem; }
        .drawer .content .avatar .link a {
          font-size: 0.3733333333rem;
          line-height: 0.5333333333rem;
          color: #4183EA; }
      .drawer .content .avatar .info {
        font-size: 0.2666666667rem;
        line-height: 0.4rem;
        color: #aaa; }
      .drawer .content .avatar .name {
        margin-top: 0.3733333333rem;
        color: #1b1b1b;
        font-size: 0.3733333333rem;
        display: inline-block; }
        .drawer .content .avatar .name a {
          color: #1b1b1b; }
    .drawer .content .items {
      padding-left: 0.3733333333rem;
      margin-top: 1.0666666667rem;
      flex-flow: column;
      display: flex; }
      .drawer .content .items .item {
        line-height: 1.6rem;
        font-size: 0.3733333333rem;
        color: #1b1b1b;
        flex: 1;
        padding-left: 1.3066666667rem;
        border-bottom: 0.0133333333rem solid #f1f1f2;
        position: relative; }
        .drawer .content .items .item:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 0.2933333333rem;
          margin-top: -0.2933333333rem; }
        .drawer .content .items .item:nth-child(1):after {
          background: url(../../assets-wiki/images/login/icon-msg@2x.png) no-repeat;
          -webkit-background-size: 0.5866666667rem auto;
          background-size: 0.5866666667rem auto;
          width: 0.5866666667rem;
          height: 0.5866666667rem; }
        .drawer .content .items .item:nth-child(2):after {
          background: url(../../assets-wiki/images/login/icon-opinion@2x.png) no-repeat;
          -webkit-background-size: 0.5866666667rem auto;
          background-size: 0.5866666667rem auto;
          width: 0.5866666667rem;
          height: 0.5866666667rem; }
        .drawer .content .items .item:nth-child(3):after {
          background: url(../../assets-wiki/images/login/icon-setting@2x.png) no-repeat;
          -webkit-background-size: 0.5866666667rem auto;
          background-size: 0.5866666667rem auto;
          width: 0.5866666667rem;
          height: 0.5866666667rem; }

.header.enter .drawer {
  transition: all 0.2s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
.header.enter .overlay {
  background: #242424;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  transition: all 0s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: .32; }

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: flex;
  height: 1.4266666667rem;
  padding-top: 0.2533333333rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  footer .content {
    flex: 1;
    display: flex;
    background: #fff;
    border-top: 0.0133333333rem solid #f3f3f3; }
  footer .link {
    background: #fff;
    flex: 1;
    text-align: center;
    font-size: 0.2666666667rem;
    color: #1b1b1b;
    align-items: center;
    justify-content: center;
    padding-top: 0.0533333333rem;
    height: 1.0666666667rem;
    position: relative; }
    footer .link i {
      display: inline-block;
      z-index: 2;
      position: relative; }
      footer .link i.icon-home {
        background: url(../../assets-wiki/images/footer/icon-home@2x.png) no-repeat;
        -webkit-background-size: 0.64rem auto;
        background-size: 0.64rem auto;
        width: 0.64rem;
        height: 0.64rem; }
      footer .link i.icon-news {
        background: url(../../assets-wiki/images/footer/icon-news@2x.png) no-repeat;
        -webkit-background-size: 0.64rem auto;
        background-size: 0.64rem auto;
        width: 0.64rem;
        height: 0.64rem; }
      footer .link i.icon-cyclopedia {
        background: url(../../assets-wiki/images/footer/icon-cyclopedia@2x.png) no-repeat;
        -webkit-background-size: 0.64rem auto;
        background-size: 0.64rem auto;
        width: 0.64rem;
        height: 0.64rem; }
      footer .link i.icon-midbg {
        background: url(../../assets-wiki/images/footer/icon-midbg@2x.png) no-repeat;
        -webkit-background-size: 2rem auto;
        background-size: 2rem auto;
        width: 2rem;
        height: 1.4933333333rem;
        position: absolute;
        top: -0.3333333333rem;
        left: 50%;
        margin-left: -1rem;
        z-index: 1; }
      footer .link i.icon-activity {
        background: url(../../assets-wiki/images/footer/icon-activity@2x.png) no-repeat;
        -webkit-background-size: 0.64rem auto;
        background-size: 0.64rem auto;
        width: 0.64rem;
        height: 0.64rem; }
      footer .link i.icon-activate {
        background: url(../../assets-wiki/images/footer/icon-activate@2x.png) no-repeat;
        -webkit-background-size: 0.64rem auto;
        background-size: 0.64rem auto;
        width: 0.64rem;
        height: 0.64rem; }
    footer .link .txt {
      position: relative;
      margin-top: -0.0533333333rem;
      z-index: 2; }
    footer .link.active {
      color: #4183ea; }
      footer .link.active .icon-home {
        background: url(../../assets-wiki/images/footer/icon-home-active@2x.png) no-repeat;
        -webkit-background-size: 0.64rem auto;
        background-size: 0.64rem auto;
        width: 0.64rem;
        height: 0.64rem; }
      footer .link.active .icon-news {
        background: url(../../assets-wiki/images/footer/icon-news-active@2x.png) no-repeat;
        -webkit-background-size: 0.64rem auto;
        background-size: 0.64rem auto;
        width: 0.64rem;
        height: 0.64rem; }
      footer .link.active .icon-cyclopedia {
        background: url(../../assets-wiki/images/footer/icon-cyclopedia-active@2x.png) no-repeat;
        -webkit-background-size: 0.64rem auto;
        background-size: 0.64rem auto;
        width: 0.64rem;
        height: 0.64rem; }
      footer .link.active .icon-activity {
        background: url(../../assets-wiki/images/footer/icon-activity-active@2x.png) no-repeat;
        -webkit-background-size: 0.64rem auto;
        background-size: 0.64rem auto;
        width: 0.64rem;
        height: 0.64rem; }
      footer .link.active .icon-activate {
        background: url(../../assets-wiki/images/footer/icon-activate-active@2x.png) no-repeat;
        -webkit-background-size: 0.64rem auto;
        background-size: 0.64rem auto;
        width: 0.64rem;
        height: 0.64rem; }

.modal-share {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  font-size: 0; }
  .modal-share img {
    width: 5.1733333333rem;
    position: absolute;
    top: 0.8rem;
    right: 0.7466666667rem; }

.upwarp-nodata {
  font-size: 0.4rem !important; }

.mescroll-totop {
  width: 1.0666666667rem !important;
  height: 1.0666666667rem !important;
  right: 0.3733333333rem; }

html, body {
  height: 100%;
  background-color: #FFFFFF; }

.showPwd {
  position: absolute;
  width: 0.64rem;
  height: 0.64rem;
  background: url("../../assets/images/login/showPwd.png");
  right: 0;
  top: 50%;
  background-size: 100% 100%;
  margin-top: -0.32rem; }

.hidePwd {
  position: absolute;
  width: 0.64rem;
  height: 0.64rem;
  background: url("../../assets/images/login/hidePwd.png");
  right: 0;
  top: 50%;
  background-size: 100% 100%;
  margin-top: -0.32rem; }

.wait {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.4266666667rem;
  color: #AAAAAA;
  line-height: 0.96rem; }

.conduct {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.4266666667rem;
  color: #4183EA;
  line-height: 0.96rem; }

.notSubmit {
  width: 100%;
  height: 100%;
  font-size: 0.4266666667rem;
  background-color: #C8C8C8;
  color: #FFFFFF;
  border: none;
  outline: none; }

.yesSubmit {
  width: 100%;
  height: 100%;
  font-size: 0.4266666667rem;
  background-color: #4183EA;
  color: #FFFFFF;
  border: none;
  outline: none; }

.select {
  position: absolute;
  width: 0.2933333333rem;
  height: 0.2933333333rem;
  background: url("../../assets/images/login/select.png");
  left: 0;
  right: 0;
  top: 50%;
  background-size: 100% 100%;
  margin-top: -0.1466666667rem; }

.notSelect {
  position: absolute;
  width: 0.2933333333rem;
  height: 0.2933333333rem;
  background: url("../../assets/images/login/notSelect.png");
  left: 0;
  right: 0;
  top: 50%;
  background-size: 100% 100%;
  margin-top: -0.1466666667rem; }

.mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1; }

.prompt {
  margin-left: -2.8533333333rem;
  width: 5.7066666667rem;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: #FFFFFF;
  font-size: 0.3333333333rem;
  position: fixed;
  top: 33%;
  left: 50%;
  line-height: 1.3333333333rem; }
  .prompt p {
    width: 70%;
    margin: 0 auto; }

.success {
  width: 5.6266666667rem;
  height: 3.5066666667rem;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: #FFFFFF;
  font-size: 0.3333333333rem;
  position: fixed;
  top: 30%;
  left: 50%;
  margin-left: -2.8133333333rem; }
  .success i {
    position: absolute;
    width: 1.04rem;
    height: 1.04rem;
    background: url("../../assets/images/login/success.png");
    left: 50%;
    right: 0;
    top: 0.8933333333rem;
    background-size: 100% 100%;
    margin-left: -0.52rem; }
  .success p {
    margin-top: 2.2rem; }

.maskBox {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1; }
  .maskBox .promptBox {
    width: 9.2533333333rem;
    height: 5.2666666667rem;
    background: #FFFFFF;
    border-radius: 0.2666666667rem;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -2.6266666667rem;
    margin-left: -4.6266666667rem; }
    .maskBox .promptBox .content {
      height: 3.6533333333rem;
      border-bottom: 1px solid #AAAAAA;
      position: relative; }
      .maskBox .promptBox .content p {
        font-size: 0.4266666667rem;
        width: 85%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .maskBox .promptBox .options {
      height: 1.5866666667rem;
      zoom: 1; }
      .maskBox .promptBox .options:after {
        display: block;
        clear: both;
        content: ''; }
      .maskBox .promptBox .options div {
        width: 50%;
        height: 100%;
        float: left;
        text-align: center;
        position: relative; }
        .maskBox .promptBox .options div p {
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          height: 1.2rem;
          margin-top: -0.6rem;
          line-height: 1.2rem;
          font-size: 0.4266666667rem; }
      .maskBox .promptBox .options div:first-child p:first-child {
        border-right: 1px solid #AAAAAA; }
      .maskBox .promptBox .options div:last-child {
        color: #4183EA; }

.register {
  color: #1B1B1B; }
  .register .register-from {
    position: fixed;
    top: 1.0133333333rem;
    left: 0;
    right: 0;
    bottom: 0; }
    .register .register-from .register-input {
      width: 9.2533333333rem;
      position: absolute;
      top: 1.92rem;
      left: 0;
      right: 0;
      margin: 0 auto; }
      .register .register-from .register-input div.mobile {
        margin-top: 0; }
      .register .register-from .register-input div.code {
        margin-top: 0.72rem;
        position: relative;
        top: 0;
        left: 0; }
      .register .register-from .register-input div.pwd {
        margin-top: 0.72rem;
        position: relative;
        top: 0;
        left: 0; }
      .register .register-from .register-input input {
        width: 100%;
        height: 0.96rem;
        font-size: 0.3733333333rem;
        border-bottom: 0.0266666667rem solid #E8E9EB; }
      .register .register-from .register-input .hint {
        margin-top: 0.16rem; }
        .register .register-from .register-input .hint p {
          color: #AAAAAA;
          font-size: 0.2666666667rem; }
    .register .register-from .operation {
      width: 4.5333333333rem;
      height: 2.0666666667rem;
      margin: 0 auto;
      margin-top: 2.0933333333rem; }
      .register .register-from .operation div {
        height: 50%; }
        .register .register-from .operation div p {
          font-size: 0.32rem;
          color: #C8C8C8;
          text-align: center;
          margin-top: 0.2933333333rem; }
  .register .three {
    width: 100%;
    height: 0.6933333333rem;
    position: fixed;
    left: 0;
    bottom: 0.4666666667rem;
    text-align: center; }
    .register .three .dec {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%; }
      .register .three .dec span {
        width: 100%;
        font-size: 0.32rem;
        text-align: center;
        color: #AAAAAA;
        margin-left: 0.4rem;
        position: relative; }
        .register .three .dec span a {
          color: #4183EA;
          cursor: pointer; }

/*# sourceMappingURL=register.css.map */
