html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
  margin: 0;
  padding: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, th, var, em, i {
  font-style: normal;
  font-weight: normal; }

ul, ol {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

a, a:active, a:hover {
  text-decoration: none; }

input, button {
  padding-top: 0;
  padding-bottom: 0;
  font-family: "Microsoft YaHei";
  border: 0; }

select, input {
  vertical-align: middle; }

select, input, textarea {
  font-size: 12px;
  margin: 0; }

input[type="text"], input[type="password"], textarea {
  outline-style: none;
  -webkit-appearance: none; }

textarea {
  resize: none; }

table {
  border-collapse: collapse; }

/*-reset-*/
html, body {
  background: #f6f6f6; }

body {
  max-width: 10rem;
  margin: 0 auto;
  position: relative; }

.container {
  margin-top: 1.0133333333rem;
  position: relative;
  z-index: 2; }

.is-footer {
  padding-bottom: 1.4266666667rem; }

/*vue*/
[v-cloak] {
  display: none; }

header {
  background: #fff;
  padding: 0 1.0133333333rem;
  height: 1.0133333333rem;
  font-size: 0.3733333333rem;
  color: #1b1b1b;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 4;
  border-bottom: 0.0133333333rem solid #f4f4f4; }
  header .abs-l {
    width: 1.0133333333rem;
    height: 1.0133333333rem;
    position: absolute;
    top: 0;
    left: 0; }
  header .abs-r {
    width: 1.0133333333rem;
    height: 1.0133333333rem;
    position: absolute;
    top: 0;
    right: 0; }
  header .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.24rem;
    margin-left: -0.24rem; }
    header .icon.menu {
      background: url(../../assets-wiki/images/header/header-icon-menu@2x.png) no-repeat;
      -webkit-background-size: 0.5066666667rem auto;
      background-size: 0.5066666667rem auto;
      width: 0.5066666667rem;
      height: 0.5066666667rem; }
    header .icon.back {
      background: url(../../assets-wiki/images/header/header-icon-back@2x.png) no-repeat;
      -webkit-background-size: 0.5066666667rem auto;
      background-size: 0.5066666667rem auto;
      width: 0.5066666667rem;
      height: 0.5066666667rem; }
    header .icon.share {
      background: url(../../assets-wiki/images/header/header-icon-share@2x.png) no-repeat;
      -webkit-background-size: 0.5066666667rem auto;
      background-size: 0.5066666667rem auto;
      width: 0.5066666667rem;
      height: 0.5066666667rem; }

.drawer {
  background: #eee;
  width: 6.4rem;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  transition: all 0s;
  -webkit-transform: translate3d(-6.4rem, 0, 0);
  transform: translate3d(-6.4rem, 0, 0);
  transition: all .2s; }
  .drawer .content {
    background: #fff;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2; }
    .drawer .content .avatar {
      text-align: center;
      padding-top: 1.3333333333rem; }
      .drawer .content .avatar .img {
        font-size: 0; }
        .drawer .content .avatar .img img {
          width: 1.6rem;
          height: 1.6rem;
          -webkit-border-radius: 1.6rem;
          border-radius: 1.6rem; }
      .drawer .content .avatar .link {
        color: #4183EA;
        margin-top: 0.3733333333rem;
        margin-bottom: 0.1333333333rem; }
        .drawer .content .avatar .link a {
          font-size: 0.3733333333rem;
          line-height: 0.5333333333rem;
          color: #4183EA; }
      .drawer .content .avatar .info {
        font-size: 0.2666666667rem;
        line-height: 0.4rem;
        color: #aaa; }
      .drawer .content .avatar .name {
        margin-top: 0.3733333333rem;
        color: #1b1b1b;
        font-size: 0.3733333333rem;
        display: inline-block; }
        .drawer .content .avatar .name a {
          color: #1b1b1b; }
    .drawer .content .items {
      padding-left: 0.3733333333rem;
      margin-top: 1.0666666667rem;
      flex-flow: column;
      display: flex; }
      .drawer .content .items .item {
        line-height: 1.6rem;
        font-size: 0.3733333333rem;
        color: #1b1b1b;
        flex: 1;
        padding-left: 1.3066666667rem;
        border-bottom: 0.0133333333rem solid #f1f1f2;
        position: relative; }
        .drawer .content .items .item:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 0.2933333333rem;
          margin-top: -0.2933333333rem; }
        .drawer .content .items .item:nth-child(1):after {
          background: url(../../assets-wiki/images/login/icon-msg@2x.png) no-repeat;
          -webkit-background-size: 0.5866666667rem auto;
          background-size: 0.5866666667rem auto;
          width: 0.5866666667rem;
          height: 0.5866666667rem; }
        .drawer .content .items .item:nth-child(2):after {
          background: url(../../assets-wiki/images/login/icon-opinion@2x.png) no-repeat;
          -webkit-background-size: 0.5866666667rem auto;
          background-size: 0.5866666667rem auto;
          width: 0.5866666667rem;
          height: 0.5866666667rem; }
        .drawer .content .items .item:nth-child(3):after {
          background: url(../../assets-wiki/images/login/icon-setting@2x.png) no-repeat;
          -webkit-background-size: 0.5866666667rem auto;
          background-size: 0.5866666667rem auto;
          width: 0.5866666667rem;
          height: 0.5866666667rem; }

.header.enter .drawer {
  transition: all 0.2s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
.header.enter .overlay {
  background: #242424;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  transition: all 0s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: .32; }

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: flex;
  height: 1.4266666667rem;
  padding-top: 0.2533333333rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  footer .content {
    flex: 1;
    display: flex;
    background: #fff;
    border-top: 0.0133333333rem solid #f3f3f3; }
  footer .link {
    background: #fff;
    flex: 1;
    text-align: center;
    font-size: 0.2666666667rem;
    color: #1b1b1b;
    align-items: center;
    justify-content: center;
    padding-top: 0.0533333333rem;
    height: 1.0666666667rem;
    position: relative; }
    footer .link i {
      display: inline-block;
      z-index: 2;
      position: relative; }
      footer .link i.icon-home {
        background: url(../../assets-wiki/images/footer/icon-home@2x.png) no-repeat;
        -webkit-background-size: 0.64rem auto;
        background-size: 0.64rem auto;
        width: 0.64rem;
        height: 0.64rem; }
      footer .link i.icon-news {
        background: url(../../assets-wiki/images/footer/icon-news@2x.png) no-repeat;
        -webkit-background-size: 0.64rem auto;
        background-size: 0.64rem auto;
        width: 0.64rem;
        height: 0.64rem; }
      footer .link i.icon-cyclopedia {
        background: url(../../assets-wiki/images/footer/icon-cyclopedia@2x.png) no-repeat;
        -webkit-background-size: 0.64rem auto;
        background-size: 0.64rem auto;
        width: 0.64rem;
        height: 0.64rem; }
      footer .link i.icon-midbg {
        background: url(../../assets-wiki/images/footer/icon-midbg@2x.png) no-repeat;
        -webkit-background-size: 2rem auto;
        background-size: 2rem auto;
        width: 2rem;
        height: 1.4933333333rem;
        position: absolute;
        top: -0.3333333333rem;
        left: 50%;
        margin-left: -1rem;
        z-index: 1; }
      footer .link i.icon-activity {
        background: url(../../assets-wiki/images/footer/icon-activity@2x.png) no-repeat;
        -webkit-background-size: 0.64rem auto;
        background-size: 0.64rem auto;
        width: 0.64rem;
        height: 0.64rem; }
      footer .link i.icon-activate {
        background: url(../../assets-wiki/images/footer/icon-activate@2x.png) no-repeat;
        -webkit-background-size: 0.64rem auto;
        background-size: 0.64rem auto;
        width: 0.64rem;
        height: 0.64rem; }
    footer .link .txt {
      position: relative;
      margin-top: -0.0533333333rem;
      z-index: 2; }
    footer .link.active {
      color: #4183ea; }
      footer .link.active .icon-home {
        background: url(../../assets-wiki/images/footer/icon-home-active@2x.png) no-repeat;
        -webkit-background-size: 0.64rem auto;
        background-size: 0.64rem auto;
        width: 0.64rem;
        height: 0.64rem; }
      footer .link.active .icon-news {
        background: url(../../assets-wiki/images/footer/icon-news-active@2x.png) no-repeat;
        -webkit-background-size: 0.64rem auto;
        background-size: 0.64rem auto;
        width: 0.64rem;
        height: 0.64rem; }
      footer .link.active .icon-cyclopedia {
        background: url(../../assets-wiki/images/footer/icon-cyclopedia-active@2x.png) no-repeat;
        -webkit-background-size: 0.64rem auto;
        background-size: 0.64rem auto;
        width: 0.64rem;
        height: 0.64rem; }
      footer .link.active .icon-activity {
        background: url(../../assets-wiki/images/footer/icon-activity-active@2x.png) no-repeat;
        -webkit-background-size: 0.64rem auto;
        background-size: 0.64rem auto;
        width: 0.64rem;
        height: 0.64rem; }
      footer .link.active .icon-activate {
        background: url(../../assets-wiki/images/footer/icon-activate-active@2x.png) no-repeat;
        -webkit-background-size: 0.64rem auto;
        background-size: 0.64rem auto;
        width: 0.64rem;
        height: 0.64rem; }

.modal-share {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  font-size: 0; }
  .modal-share img {
    width: 5.1733333333rem;
    position: absolute;
    top: 0.8rem;
    right: 0.7466666667rem; }

.upwarp-nodata {
  font-size: 0.4rem !important; }

.mescroll-totop {
  width: 1.0666666667rem !important;
  height: 1.0666666667rem !important;
  right: 0.3733333333rem; }

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1; }

.swiper-container-no-flexbox .swiper-slide {
  float: left; }

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.swiper-container-android .swiper-slide, .swiper-wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative; }

.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
  height: auto; }

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-transition-property: -webkit-transform,height;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform,height; }

.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000; }

.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x; }

.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat; }

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: .35;
  cursor: auto;
  pointer-events: none; }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto; }

.swiper-button-prev.swiper-button-black, .swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-prev.swiper-button-white, .swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto; }

.swiper-button-next.swiper-button-black, .swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next.swiper-button-white, .swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10; }

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0; }

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%; }

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: .2; }

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none; }

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer; }

.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff; }

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff; }

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000; }

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -o-transform: translate(0, -50%);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 5px 0;
  display: block; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px; }

.swiper-pagination-progress {
  background: rgba(0, 0, 0, 0.25);
  position: absolute; }

.swiper-pagination-progress .swiper-pagination-progressbar {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top; }

.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top; }

.swiper-container-horizontal > .swiper-pagination-progress {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0; }

.swiper-container-vertical > .swiper-pagination-progress {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0; }

.swiper-pagination-progress.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.5); }

.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
  background: #fff; }

.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
  background: #000; }

.swiper-container-3d {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px; }

.swiper-container-3d .swiper-cube-shadow, .swiper-container-3d .swiper-slide, .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-wrapper {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10; }

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-container-coverflow .swiper-wrapper, .swiper-container-flip .swiper-wrapper {
  -ms-perspective: 1200px; }

.swiper-container-cube, .swiper-container-flip {
  overflow: visible; }

.swiper-container-cube .swiper-slide, .swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1; }

.swiper-container-cube .swiper-slide .swiper-slide, .swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-active .swiper-slide-active, .swiper-container-flip .swiper-slide-active, .swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-cube .swiper-slide-shadow-bottom, .swiper-container-cube .swiper-slide-shadow-left, .swiper-container-cube .swiper-slide-shadow-right, .swiper-container-cube .swiper-slide-shadow-top, .swiper-container-flip .swiper-slide-shadow-bottom, .swiper-container-flip .swiper-slide-shadow-left, .swiper-container-flip .swiper-slide-shadow-right, .swiper-container-flip .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-container-cube .swiper-slide {
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%; }

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0; }

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-next, .swiper-container-cube .swiper-slide-next + .swiper-slide, .swiper-container-cube .swiper-slide-prev {
  pointer-events: auto;
  visibility: visible; }

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0; }

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity; }

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-fade .swiper-slide-active, .swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center; }

.swiper-zoom-container > canvas, .swiper-zoom-container > img, .swiper-zoom-container > svg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; }

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1); }

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%; }

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%; }

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0; }

.swiper-scrollbar-cursor-drag {
  cursor: move; }

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite; }

.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat; }

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg); } }
.slider {
  height: 5.6266666667rem;
  position: relative; }

.slider .swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto; }

.slider .swiper-slide {
  background: #fff; }

.slider .swiper-slide img {
  width: 100%; }

.slider .swiper-pagination {
  bottom: 0.2133333333rem; }

.slider .swiper-pagination-bullet {
  width: 0.3466666667rem;
  height: 0.04rem;
  border-radius: 0.0266666667rem;
  background: #9B9B9A;
  opacity: 1; }

.slider .swiper-pagination-bullet-active {
  height: 0.08rem;
  background: #fff; }

.contents {
  background-color: #F6F6F6;
  padding-bottom: 0.2266666667rem; }
  .contents img {
    border-radius: 0.0266666667rem; }
  .contents .content {
    width: 9.2533333333rem;
    box-shadow: 1px 6px 31px #E7E8E9;
    margin: 0.4266666667rem auto 0; }
    .contents .content .cover {
      position: relative;
      background-color: #ffffff;
      width: 9.2533333333rem;
      height: 4.9866666667rem;
      overflow: hidden; }
      .contents .content .cover img {
        width: 100%; }
      .contents .content .cover .myLabel {
        width: 1.1733333333rem;
        position: absolute;
        top: 0.2933333333rem;
        left: 0.2666666667rem; }
        .contents .content .cover .myLabel img {
          width: 100%;
          height: 100%; }
    .contents .content .des {
      background-color: #ffffff;
      margin: 0 auto;
      position: relative; }
      .contents .content .des .title {
        width: 8.6133333333rem;
        margin: 0 auto;
        padding-bottom: 0.4266666667rem; }
        .contents .content .des .title h4 {
          font-size: 0.3733333333rem;
          padding-top: 0.2rem; }
        .contents .content .des .title p {
          color: #AAAAAA;
          font-size: 0.2666666667rem;
          padding-top: 0.0666666667rem;
          line-height: 0.4rem; }
        .contents .content .des .title .type {
          display: block;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          max-width: 2.5333333333rem; }
        .contents .content .des .title .info {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden; }
        .contents .content .des .title i {
          background: url("../images/activity/activity-icon-recommend@2x.png");
          background-size: 100% 100%;
          width: 0.7733333333rem;
          height: 0.4933333333rem;
          position: absolute;
          top: 0.1866666667rem;
          right: 0.32rem; }

html, body {
  height: 100%;
  background-color: #FFFFFF; }

.not-data-back {
  background-color: #FFFFFF !important; }

.no-data {
  width: 100%;
  height: 4.1466666667rem;
  position: absolute;
  top: 25%;
  left: 0;
  background-color: #FFFFFF; }

.search .s-top {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%; }
  .search .s-top .s-search {
    background-color: #FFFFFF;
    padding-top: 0.24rem;
    padding-bottom: 0.2133333333rem;
    position: relative;
    border-bottom: 2px solid #f5f5f5; }
    .search .s-top .s-search .s-input {
      width: 7.9066666667rem;
      height: 0.72rem;
      background-color: #F5F5F5;
      margin-left: 0.3733333333rem;
      border-radius: 0.6666666667rem; }
      .search .s-top .s-search .s-input .s-content {
        width: 80%;
        height: 100%;
        background-color: #f5f5f5;
        font-size: 0.3733333333rem;
        margin-left: 0.3733333333rem;
        color: #AAAAAA; }
      .search .s-top .s-search .s-input .s-icon {
        width: 0.36rem;
        height: 0.36rem;
        padding-left: 0.3466666667rem; }
    .search .s-top .s-search .s-cancel {
      position: absolute;
      top: 0.3066666667rem;
      right: 0.4266666667rem;
      font-size: 0.4266666667rem; }
      .search .s-top .s-search .s-cancel a {
        color: #4183EA; }
.search .mescroll {
  position: fixed;
  top: 1.0266666667rem;
  bottom: 0;
  height: auto;
  background-color: #F6F6F6; }
  .search .mescroll .upwarp-tip, .search .mescroll .downwarp-tip {
    font-size: 0.32rem !important; }
  .search .mescroll .mescroll-empty {
    padding-top: 0; }
    .search .mescroll .mescroll-empty .empty-icon {
      width: 2.0666666667rem;
      height: 2.1866666667rem;
      margin-left: 0.4rem; }
    .search .mescroll .mescroll-empty .upwarp-nodata p:nth-child(1) {
      font-size: 0.4266666667rem !important;
      color: #1b1b1b;
      line-height: 0.6rem;
      margin-top: 0.68rem; }
    .search .mescroll .mescroll-empty .upwarp-nodata p:nth-child(2) {
      font-size: 0.3733333333rem !important;
      color: #aaa;
      line-height: 0.5333333333rem;
      margin-top: 0.0666666667rem; }

.s-option {
  position: fixed;
  top: 1.0266666667rem;
  z-index: 1;
  left: 0;
  height: 100%;
  background-color: #FFFFFF; }
  .s-option .s-history .s-htitle {
    padding-top: 0.5333333333rem;
    padding-left: 0.3733333333rem;
    font-size: 0.32rem;
    color: #AAAAAA;
    position: relative; }
    .s-option .s-history .s-htitle i {
      background: url(../images/delete.png);
      width: 0.3866666667rem;
      height: 0.4266666667rem;
      background-size: 100% 100%;
      position: absolute;
      top: 0.5333333333rem;
      right: 0.4666666667rem; }
  .s-option .s-history .s-list {
    padding-top: 0.2666666667rem;
    padding-left: 0.3733333333rem;
    font-size: 0.3733333333rem; }
    .s-option .s-history .s-list div {
      border-bottom: 0.0266666667rem solid #F1F1F2; }
    .s-option .s-history .s-list p {
      padding: 0.2666666667rem 0; }
  .s-option .s-hot {
    padding-bottom: 1.3333333333rem; }
    .s-option .s-hot .s-otitle {
      padding-top: 0.5333333333rem;
      padding-left: 0.3733333333rem;
      font-size: 0.32rem;
      color: #AAAAAA;
      position: static; }
    .s-option .s-hot .s-list {
      background-color: #ffffff;
      zoom: 1;
      padding-bottom: 1.16rem; }
      .s-option .s-hot .s-list:after {
        display: block;
        clear: both;
        content: ''; }
      .s-option .s-hot .s-list div {
        height: 0.6666666667rem;
        line-height: 0.6666666667rem;
        background-color: #F5F5F5;
        text-align: center;
        float: left;
        margin-left: 0.3733333333rem;
        margin-top: 0.3733333333rem;
        border-radius: 0.6666666667rem; }
        .s-option .s-hot .s-list div p {
          font-size: 0.3733333333rem;
          margin-left: 0.3866666667rem;
          margin-right: 0.3866666667rem; }

/*vue*/
[v-cloak] {
  display: none; }

/*# sourceMappingURL=search.css.map */
