<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="wap-font-scale" content="no">
    <title>修改手机号_非遗大百科</title>
    <script src="../../assets-wiki/js/flexible.min.js?t=201807311146"></script>
    <link rel="icon" type="image/x-icon" href="../../assets-wiki/images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../../assets-wiki/css/register.css?t=201807311146">
</head>
<body>

<div class="register" id="register">
    <wk-header :data="headData"></wk-header>
    <div class="register-from">
        <p class="describe">请绑定新的手机号</p>
        <form>
            <div class="register-input" style="height: auto;">
                <div class="mobile">
                    <input v-model="phone" type="tel" name=""
                           placeholder="请输入手机号码"
                           maxlength="11">
                </div>
                <div class="code">
                    <input @focus="readFocus(0)" @blur="readFocus(1)" v-model="code" type="tel" name=""
                           placeholder="请输入验证码" maxlength="4">
                    <p :class="{conduct: codeType == 0, wait: codeType == 1}"
                       @click="codeType == 0 ?getCode($event): null">获取验证码</p>
                </div>
                <div class="operation">
                    <div>
                        <button :class="{yesSubmit: isSubmit,notSubmit: !isSubmit}" @click="onSubmit($event)">完成
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <div v-show="isPrompt || isSuccess" class="mask" style="display: none"></div>
        <div v-show="isPrompt" class="prompt" style="display: none" v-cloak>
            <p>{{msg}}</p>
        </div>

        <div v-show="isSuccess" class="success" style="display: none" v-cloak>
            <i></i>
            <p>{{msg}}</p>
        </div>

        <div v-show="isPromptBox" class="maskBox" style="display: none" v-cloak>
            <div class="promptBox">
                <div class="content">
                    <p>{{msg}}</p>
                </div>
                <div class="options1">
                    <div @click="closePrompt">我知道了</div>
                    <!-- <div>
                        <p @click="closePrompt">取消</p>
                    </div> -->
                   <!--  <div>
                        <p class="login" @click="toLogin()">登录</p>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>


<script src="../../assets-wiki/js/system.js?t=201807311146"></script>
<script src="../../assets-wiki/js/tpls.js?t=201807311146"></script>
<script src="../../assets-wiki/js/utils.js?t=201807311146"></script>
<script src="../../assets-wiki/js/myApp.js?t=201807311146"></script>
<script>
    Vue.directive('focus', {
        // 当绑定元素插入到 DOM 中。
        inserted: function (el) {
            // 聚焦元素
            el.focus()
        }
    })

    var myreg = /^[1][3,4,5,7,8][0-9]{9}$/; // 验证手机号码
    var app = new Vue({
        el: '#register',
        data: {
            headData: {
                title: '修改手机号',
                isBack: true
            },
            inputType: 'password',
            isPrompt: false, // 是否提示
            isPromptBox: false, // 带操作的提示
            isSubmit: false, // 是否可以提交
            isAgree: true, // 是否同意并且阅读 
            isSuccess: false, // 是否注册成功
            msg: "", // 提示语
            codeType: 1, // 验证码 0 可点击发送  1等待不可发送
            second: 60, // 60秒后重新发送
            phone: '', // 手机号码
            code: '', // 验证码
            validateRule: { // 验证规则
                phone: {
                    maxLength: 11  // 验证长度
                },
                code: {
                    maxLength: 4
                }
            },
            wait: true, // ture可执行  false等待中 
            readProtocol: true
        },
        watch: {
            phone: 'monitor', // 监听手机号码数据变化
            code: 'monitor'   // 监听验证码数据变化
        },
        components: {
            wkHeader: wkHeader,  //导航
        },
        beforeCreate: function() {
            // 判断是否可以修改收拾号码
            var updatePhone = myLocalStorage.getter("updatePhone") ? myLocalStorage.getter("updatePhone") : false;
            // 不可以修改则进行拦截
            if(!updatePhone) {
                window.location.href = rootName + "/pages/login/pwd.html"; 
            } 
        },
        mounted: function () {
            var phone = getHttpParam("phone");
            if (phone) {
                this.phone = phone
            }
        },
        methods: {
            // 显示密码
            showPwd: function () {
                this.inputType = this.inputType == 'password' ? 'text' : 'password';
            },

            onSubmit: function (e) {
                e.preventDefault(); //阻止form默认事件
                var _this = this;
                // 可以提交
                if (_this.isSubmit) {
                    // 是否勾选并且同意了用户协议和隐私政策
                    // if (!_this.isAgree) {
                    //     _this.myPrompt("请阅读并同意用户协议与隐藏政策");
                    //     return;
                    // }

                    if (!myreg.test(_this.phone)) {
                        _this.myPrompt("手机号码格式不对");
                        return;
                    }

                    if (_this.code == "" || _this.code == null || _this.code.length < _this.validateRule.code.length) {
                        _this.myPrompt("验证码不能为小于" + _this.validateRule.code.maxLength + "位");
                        return;
                    }

                    // 提交数据  注册
                    _this.updatePwd();
                    // 提交数据
                    // this.myPrompt("注册成功", 1);
                }

            },

            updatePwd() {
                var _this = this;
                var params = {
                    url: api.updataPhone,
                    type: 'POST',
                    data: {
                        phone: _this.phone,
                        code: _this.code,
                    },
                    sCallback: function (res) {
                        _this.handleRes(res, function () {
                            myLocalStorage.setter('__user__', res.data); // 设置sessionStorage 
                            _this.msg = "绑定成功";
                            _this.isSuccess = true;
                            setTimeout(function () {
                                _this.isSuccess = false;
                                _this.msg = "";
                                myLocalStorage.remove("updatePhone"); // 流程结束、清楚是否可修改手机号状态
                                window.location.href = rootName + "/pages/my/index.html"
                            }, 500)
                        })
                    }
                }
                httpRequest(params); // 发送ajax请求
            },

            // 发送验证码
            getCode(e) {
                var _this = this;
                var time = _this.second;
                if (_this.codeType == 0) { // 发送验证码 0发 1不发
                    _this.codeType = 1; // 设置为不发送 防止多次点击
                    // 验证手机号码
                    if (_this.phone == "" || !myreg.test(this.phone)) {
                        _this.myPrompt("发送失败，请检查手机号");
                        return;
                    }
                    var params = {
                        url: api.sendCode,
                        type: 'GET',
                        data: {
                            phone: _this.phone,
                            type: 1,
                        },
                        sCallback: function (res) {
                            _this.handleRes(res, function () {
                                _this.wait = false; // 进去等待状态
                                _this.myPrompt("验证码发送成功");
                                e.target.innerText = "重新发送(" + time + "s)";
                                // 倒计时 
                                var setTime;
                                setTime = setInterval(function () {
                                    // 倒计时结束恢复初始化
                                    if (time <= 0) {
                                        clearInterval(setTime);
                                        e.target.innerText = "获取验证码";
                                        _this.codeType = 0;
                                        _this.wait = true;
                                        return;
                                    }
                                    time--;
                                    e.target.innerText = "重新发送(" + time + "s)"
                                }, 1000);
                            })
                        }
                    }
                    httpRequest(params); // 发送ajax请求
                }
            },
            // 监听数据
            monitor(curVal, oldVal) {
                if (this.phone.length >= this.validateRule.phone.maxLength && myreg.test(this.phone)) {
                    if (this.wait) {
                        this.codeType = 0;
                    }
                } else {
                    this.codeType = 1;
                }

                if (this.phone.length >= this.validateRule.phone.maxLength
                    && this.code.length >= this.validateRule.code.maxLength) {
                    this.isSubmit = 1;
                } else {
                    this.isSubmit = 0;
                }
            },
            // 关闭带操作提示框
            closePrompt() {
                this.isPromptBox = false;
                this.codeType = 0; // 设置为可以发送 防止多次点击
            },
            // 提示
            myPrompt(msg, code) {
                var _this = this;
                if (!code || code != 5 && code != 15) {
                    // 普通提示框
                    _this.msg = msg;
                    _this.isPrompt = true;
                    // 2秒后自动隐藏
                    setTimeout(function () {
                        _this.isPrompt = false;
                    }, 2000);
                } else {
                    // 带操作的提示框 账号未注册
                    _this.isPromptBox = true;
                    _this.msg = '此手机号已被注册，请使用未注册的手机号重新绑定';
                }
            },
            // 统一处理结果
            handleRes(res, callback) {
                // alert("res -- >", res);
                var _this = this;
                if (res.code == 0) {
                    callback && callback(res);
                } else {
                    // console.log("res -- >", res);
                    _this.myPrompt((res.detailMsg ? res.detailMsg : res.msg), res.code);
                    return;
                }
            },
             //获取焦点隐藏底部我已阅读并同意部分
            readFocus(flag) {
                switch (flag) {
                    case 0://获取焦点
                        this.readProtocol = false
                        break;
                    case 1://失去焦点
                        this.readProtocol = true
                        break;
                }
            }

        }
    });
</script>
<script type="text/javascript" src="../../cordova.js"></script>

</body>
</html>