<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>传人馆</title>
    <meta http-equiv="Content-Type" content="text/html; charset=GBK">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <!--兼容iphone-->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <script src="../../assets-wiki/js/flexible.min.js?t=2018070202"></script>
    <link rel="icon" type="image/x-icon" href="../../assets-wiki/images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../../assets-wiki/css/master.css?t=2018070202">
</head>
<body>
<div class="box js-page-load" id="app">
    <page-loading v-if="self.loading.show"></page-loading>
    <no-network v-if="!self.page.show"></no-network>

    <div id="mescroll">

        <!--app导航-->
        <app-share-tip v-if="head.apphead" v-if="head.h5head"></app-share-tip>

        <!-- 返回上一级 -->
        <re-datails :datas="share_content" v-if="head.h5head" :class="{active1: load_msg.returnMsg, active:self.loading.show}"></re-datails>

        <div class="page-hide" :class="{'page-show':self.page.show}">
            <!--左右按钮  -->
            <btn-datails :leri="leri" @btn-left="btnLeft" @btn-right="btnRight" :num="objData.diaSpage" :class="{active: load_msg.btn_msg}"></btn-datails>

            <!--交互-->
            <div class="content">

                <!--banner-->
                <ban-datails :dowm="dowm" :datas="bannerData"></ban-datails>

                <!-- 代表人物 -->
                <div class="character">
                    <!-- 官方认证 -->
                    <!--<ter-datails></ter-datails>-->
                    <div class="char_img">
                        <i>
                            <img class="lazy" :data-original="chara.portImg" alt="">
                        </i>
                        <h4 v-if="chara.title">{{chara.title}}</h4>
                        <p v-if="chara.text">{{chara.text}}</p>
                        <p v-if="chara.copy">地域：<span>{{chara.copy}}</span></p>
                    </div>
                </div>

                <!-- 详情 -->
                <div class="master_detail">
                    <div class="detail_list">
                        <ul :class="{active: suction}">
                            <li :class="{active: ivdias}"><a href="javascript:;" @click="list_dias">百科</a></li>
                            <li :class="{active: ivwork}" v-show="shwork"><a href="javascript:;"
                                                                             @click="list_works">作品</a></li>
                            <li :class="{active: ivcons}" v-show="shcons"><a href="javascript:;"
                                                                             @click="list_cons">资讯</a></li>
                        </ul>
                    </div>

                    <div class="master_content">

                        <!--百科内容  -->
                        <div class="detail_content" v-if="dias">

                            <!--基本信息-->
                            <info-datails :datas="info"></info-datails>
                            <!--图片  视频  内容-->
                            <bas-datails :datas="basData" @show-area="btnArea" @show-id="_dataId"></bas-datails>

                            <!--菜单按钮-->
                            <bt-nmenu :datas="listmenu"></bt-nmenu>
                        </div>

                        <!-- 作品 -->
                        <div v-if="works" class="detail_works">

                            <div>
                                <wo-rksdeta :wodata="worksContent" @btn-init="btnArea" @work-id="workId"></wo-rksdeta>
                            </div>
                            <div class="btnwork" v-if="workMsg">
                                <p v-if="workStatus == false">已加载到底部</p>
                                <p v-if="workStatus == true" @click="btnWork">点击加载 <a href="javascript:;">下一页</a></p>
                            </div>
                        </div>
                        <!-- 咨讯 -->
                        <div v-if="cons" class="detail_cons">

                            <div>
                                <news-item :data="newsData"></news-item>
                            </div>
                            <div class="btnwork" v-if="consMsg">
                                <p v-if="consStatus == false">已加载到底部</p>
                                <p v-if="consStatus == true" @click="btnCons">点击加载 <a href="javascript:;">下一页</a></p>
                            </div>

                        </div>


                        <!-- 图集展示区域 -->
                        <atl-area :urlset="urlset" :area="area" @child-say="btnArea"></atl-area>

                        <!--列表正在加载-->
                        <list-load :state="state"></list-load>

                        <!--返回顶部-->
                        <return-bas></return-bas>


                    </div>

                </div>
            </div>
        </div>
    </div>

</div>


<script src="../../assets-wiki/js/system.js?t=2018070202"></script>
<script src="../../assets-wiki/js/lazyload.mescroll.min.js?t=2018070202"></script>
<script src="../../assets-wiki/js/swiper.min.js?t=2018070202"></script>
<script src="../../assets-wiki/js/utils.js?t=2018070202"></script>
<script src="../../assets-wiki/js/myApp.js?t=2018070202"></script>
<script src="../../assets-wiki/js/tpls.js?t=2018070202"></script>
<script src="../../assets-wiki/data/dictionary.js?t=2018070202"></script>
<script src="model.js?t=2018070202"></script>
<script src="../../assets-wiki/js/shop-details.js?t=2018070202"></script>
<script>
    var app = new Vue({
        el: "#app",
        components: {
            btNmenu: btNmenu,             //菜单按钮
            ReDatails: ReDatails,         //返回上一级 按钮
            BtnDatails: BtnDatails,       //左右按钮
            BanDatails: BanDatails,       //banner题图
            TerDatails: TerDatails,       //官方认证
            InfoDatails: InfoDatails,     //基本模板
            BasDatails: BasDatails,       //图片、视频、文本内容
            woRksdeta: woRksdeta,         //作品模板
            atlArea: atlArea,             //作品展示图集
            newsItem: newsItem,            //资讯
            listLoad: listLoad,              //列表正在加载
            returnBas: returnBas,           //返回顶部
            appShareTip: appShareTip,    //app导航
            noWatchHead: noWatchHead,   //无网络状态导航
            pageLoading, //loading
            noNetwork //没有网络显示效果
        },
        data: {
            urlIp: api.getList,                //百科 接口
            urlId: api.targetId,         //banner获取详情
            allChannelIp: api.parentId,  //作品/资讯 接口

            objData: {                 //参数
                id: "",               //百科ID
                page: "",               //作品、资讯页数
                diaSpage: "",          //百科页数
                num: "",              //数量/页
                atlasId: null,           //当前点击图文的ID
                msg: "",                  //是否存在id  获取单个详情 还是分页详情
            },

            //吸顶效果
            suction: false,
            basModelId: "",    //当前馆的id
            masStatus: "",    //咨询作品是否累加状态1 2 3
            //作品
            workStatus: "",   //load显示状态   true--有数据   fasle--无数据
            workMsg: false,   //作品load是否显示
            //咨询
            consStatus: "",  //load显示状态   true--有数据   fasle--无数据
            consMsg: false,   //资讯load是否显示
            msg: false,       //默认正在加载状态
            state: false,     //列表正在加载
            dias: true,       //百科内容状态
            works: false,     //作品内容状态
            cons: false,      //咨询内容状态
            shwork: true,     //作品按钮显示状态
            shcons: true,     //资讯按钮显示状态
            //样式active
            ivdias: false,      //百科按钮状态
            ivwork: false,     //作品按钮状态
            ivcons: false,     //资讯按钮转台
            area: false,      //图集展示
            dowm: true,       //下拉按钮状态
            leri: true,       //左右按钮状态
            total: "",         //是否有数据  1有   0无
            bannerData: "",   //banner题图数据
            chara: "",        //头像
            info: "",          //基本信息
            basData: "",       //视频 图片 内容
            listmenu: "",      //菜单列表数据
            urlset: [],       //图集数据
            worksContent: [],  //作品数据
            newsData: "",     //资讯
            //记录禁止滚动前的高度   禁止滚动时使用
            hiddenTop: 0,
            //重新赋值的高度   解除禁止滚动使用
            showTop: 0,
            //ios Android分享内容
            share_content: {
                title: "",
                imageUrl: "",
                content: "",
                htmlUrl: ""
            },
            //导航状态
            head: {
                addhead: false,    //分享后的导航
                h5head: true    //原导航
            },
            // 有无网络状态
            load_msg: {
                networkMsg: false,  // 无网络状态
                shopMsg: false,     // load z-index
                btn_msg: false,    // 左右按钮z-index
                returnMsg: false   //返回上一级 z-index
            },
            //loading、超时相关
            self:{
                loading: {
                    show: true, //默认展示loading状态
                },
                page:{
                    data:null,
                    show:false
                }
            }
        },
        methods: {
            // 百科
            list_dias: function () {
                this.default_channel(0);
                this._initAll();          //点击百科取客户端缓存页数值
                this.objData.id = 8;      //传承人馆id = 8
                this.objData.num = 1;     //百科显示数据量为 1
                this._getDias(this.objData);    //点取接口
            },
            // 作品
            list_works: function () {
                this.default_channel(1);

                this.dias = false;
                this.works = true;
                this.cons = false;
                this.objData.id = 15;
                this.objData.page = 1;
                this.objData.num = 5;
                this.masStatus = 2;   //不累加
                this._getWorks(this.objData);
            },
            // 资讯
            list_cons: function () {
                this.default_channel(2);

                this.dias = false;
                this.works = false;
                this.cons = true;
                this.objData.id = 14;
                this.objData.page = 1;
                this.objData.num = 5;
                this.masStatus = 2;   //不累加
                //资讯数据
                this._getConsul(this.objData);
            },
            //点击作品加载更多显示下一页数据
            btnWork: function () {
                this.objData.page++;
                this.objData.id = 15;
                this.objData.num = 5;
                this.masStatus = 1;    //累加
                this._getWorks(this.objData);
            },
            //点击资讯加载更多显示下一页数据
            btnCons: function () {
                this.objData.page++;
                this.objData.id = 14;
                this.objData.num = 5;
                this.masStatus = 1;    //累加
                this._getConsul(this.objData);
            },
            //存储当前显示的页数   刷新当前页面
            _refresh: function () {
                localStorage.setItem("diaSpage", this.objData.diaSpage);
            },
            //获取的页数   刷新当前页面
            _initAll: function () {
                this.objData.diaSpage = localStorage.getItem("diaSpage") ? parseInt(localStorage.getItem("diaSpage")) : 1;
            },
            //接收图集展示的状态
            btnArea: function (data) {
                this.area = data;
                if (this.area == true) {
                    this.showTop = this.hiddenTop;
                    this.hidden(this.hiddenTop);
                    this.head.h5head = false
                } else {
                    this.show(this.showTop);
                    this.head.h5head = true
                }
            },
            //左按钮事件页数--
            btnLeft: function (numBer) {
                this.objData.diaSpage = numBer;
                this.objData.diaSpage < 1 ? this.objData.diaSpage = this.total : this.objData.diaSpage;
                this.objData.id = 8;      //传承人馆id = 8
                this.objData.num = 1;     //百科显示数据量为 1
                this._getDias(this.objData);
//                console.log(this.objData.diaSpage);
                //客户端存储num值   刷新当前页面
                this._refresh();
            },
            //右按钮事件页数++
            btnRight: function (numBer) {
                this.objData.diaSpage = numBer;
                this.objData.diaSpage > this.total ? this.objData.diaSpage = 1 : this.objData.diaSpage;
                this.objData.id = 8;       //传承人馆id = 8
                this.objData.num = 1;      //百科显示数据量为 1
                this._getDias(this.objData);
//                console.log(this.objData.diaSpage);
                //客户端存储num值   刷新当前页面
                this._refresh();
            },
            /**
             * @接收百科图文当前ID, 展示图文
             * @private
             */
            _dataId: function (id) {

                var _this = this;
                this._initAll();          //点击百科取客户端缓存页数值
                this.objData.id = 8;      //传承人馆id = 8
                this.objData.num = 1;     //百科显示数据量为 1
                this.objData.atlasId = id;   //当前点击的ID
                this._getDias(this.objData, function () {
//                    console.log(_this.urlset)
                    _this.$nextTick(function () {
                        var mySwiper = new Swiper('.swiper-container', {
                            prevButton: '.swiper-button-prev',
                            nextButton: '.swiper-button-next',
                            pagination: '.swiper-pagination',
                            paginationType: 'fraction',
                            onSlideChangeEnd: function (swiper) {
                                //alert(swiper.activeIndex);        //切换结束时，告诉我现在是第几个slide
                                var domVideo = $(".area .swiper-slide")[swiper.activeIndex];
                                var type = $(domVideo).attr("type");
                                if (type == 1) {
                                    $(domVideo).find("video").trigger("play").parent().parent().siblings().find("video").trigger("pause");
                                    $(domVideo).find("span").hide().parent().parent().siblings().find("span").show();
                                } else {
                                    $(domVideo).siblings().find("video").trigger("pause");
                                    $(domVideo).siblings().find("span").show();
                                }
                                onloding($("#area img.lazy"));
                            }
                        })
                        onloding($("#area img.lazy"));
                    })
                })

            },
            /**
             * 接受作品当前ID,展示图集
             * @param id
             */
            workId: function (id) {
                var _this = this;
                this.objData.atlasId = id;     //接受当前传承人的ID
                _this.worksContent.forEach(function (val, index) {
                    if (id == val.id) {
                        _this.urlset = val.rest;
                    }
                })
                _this.$nextTick(function () {
                    var mySwiper = new Swiper('.swiper-container', {
                        prevButton: '.swiper-button-prev',
                        nextButton: '.swiper-button-next',
                        pagination: '.swiper-pagination',
                        paginationType: 'fraction',
                        onSlideChangeEnd: function (swiper) {
                            //alert(swiper.activeIndex);        //切换结束时，告诉我现在是第几个slide
                            var domVideo = $(".area .swiper-slide")[swiper.activeIndex];
                            var type = $(domVideo).attr("type");
                            if (type == 1) {
                                $(domVideo).find("video").trigger("play").parent().parent().siblings().find("video").trigger("pause");
                                $(domVideo).find("span").hide().parent().parent().siblings().find("span").show();
                            } else {
                                $(domVideo).siblings().find("video").trigger("pause");
                                $(domVideo).siblings().find("span").show();
                            }
                            onloding($("#area img.lazy"));
                        }
                    })
                    onloding($("#area img.lazy"));
                })
                _this.msg = false;         //加载前显示
            },
            //百科交互数据
            _getDias: function (objData, callback) {

                this.self.page.data = objData

                this.dias = true;        //百科内容状态
                this.works = false;      //作品内容状态
                this.cons = false;       //资讯内容状态

                this.ivdias = true;      //百科按钮状态
                this.ivwork = false;     //作品按钮状态
                this.ivcons = false;     //资讯按钮转台

                var _this = this;
                _this.msg = true;         //加载前显示

                var _url, data;

                //判断连接是否包含id传值
                var sliUrl = parseInt(window.location.href.split('?id=')[1]);
//                console.log("地址栏",sliUrl);

                if (!sliUrl) {
                    _url = _this.urlIp;
                    data = {
                        objectId: objData.id,   //传承人馆ID
                        currPage: objData.diaSpage,   //页数
                        pageSize: objData.num    //数量/页
                    };
                    objData.msg = true;
                    _this.leri = true;
                } else {
                    _url = _this.urlId;
                    data = {
                        objectId: 8,   //传承人馆ID
                        targetId: sliUrl  //id
                    };
                    objData.msg = false;
                    _this.leri = false;
                }

//                console.log(data);


                getMasterData(_url, data, function (obj) {
                    //把当前馆的id获取到
                    _this.basModelId = obj.basModelId;
                    //是否有数据total 1有  0无
                    _this.total = obj.total;
                    //题图数据导入
                    _this.bannerData = obj.banner;
                    //推荐传承人数据导入
                    _this.chara = obj.area;
                    //基本信息数据导入
                    _this.info = obj.info;
                    //图文 显示数据导入
                    _this.basData = obj.basData;
                    //右侧菜单
                    _this.listmenu = obj.listmenu;

                    //图集展示
                    _this.urlset = obj.urlset;


                    //传入分享内容
                    _this.share_content.title = _this.bannerData.title;  //标题
                    _this.share_content.imageUrl = 'https://general-h5.oss-cn-beijing.aliyuncs.com/images/icon-default.png';
                    _this.share_content.content = 'http://m.diich.com/info';
                    _this.share_content.htmlUrl = 'activate/master.html?id=' + obj.shareId + '';  //当前页面链接


                    callback && callback(obj)            //swiper回调  post请求之后执行

                    _this.msg = false;         //正在加载状态


                    //_this.leri = true;
                    //  console.log("iiiiiiiiiiiii",obj.shareId);

                    if (_this.total == 1 || _this.total == undefined) {
                        _this.leri = false;
                    } else {
                        _this.leri = true;
                    }

                }, objData.atlasId, objData.msg);

            },
            //作品获取数据
            _getWorks: function (objData, callback) {
                // console.log('objData---->',objData)

                this.ivdias = false;      //百科按钮状态
                this.ivwork = true;     //作品按钮状态
                this.ivcons = false;     //资讯按钮转台
                var _this = this;
                _this.state = true;         //加载前显示
                var _url = _this.allChannelIp;
                var data = {
                    objectId: objData.id,   //传承人馆ID
                    current: objData.page,   //页数
                    pageSize: objData.num,    //数量/页
                    parentId: _this.basModelId   //当前传承人馆的ID
                };

//                console.log(_url, data);

                getWorksData(_url, data, function (obj) {
                    //作品数据导入
                    if (_this.masStatus == 1) {         //点击作品按钮
                        _this.worksContent = _this.worksContent.concat(obj.worksContent);
                        //图集展示数据
                        // _this.urlset = obj.urlset.concat(_this.urlset);
                    }
                    if (_this.masStatus == 2) {         //点击作品load
                        _this.worksContent = obj.worksContent;
                        //图集展示数据
                        // _this.urlset = obj.urlset;
                    }
                    // if(_this.masStatus == 3){        //点击作品展示图集
                    //     //图集展示数据
                    //     _this.urlset = obj.urlset;
                    // }

                    _this.workStatus = obj.status;   //load显示状态   true--有数据   fasle--无数据


                    //将当期浏览的作品数据、数据状态、分页缓存本地
                    var objData1 = {
                        data: _this.worksContent,
                        status: _this.workStatus,
                        objPage: _this.objData.page
                    };
                    //缓存本地
                    _setUpdata(objData1);

                    callback && callback(obj)            //swiper回调  post请求之后执行

                    _this.state = false;         //正在列表加载状态  隐藏
                    _this.msg = false;           //加载后隐藏
                    _this.workMsg = true;          //作品内容显示
//                    console.log("))))))))))))))",obj.worksContent);
                }, objData.atlasId);

            },
            //资讯获取数据
            _getConsul: function (objData, callback) {
                var _this = this;

                this.ivdias = false;      //百科按钮状态
                this.ivwork = false;     //作品按钮状态
                this.ivcons = true;     //资讯按钮转台

                _this.state = true;         //加载前显示正在加载列表
                var _url = _this.allChannelIp;
                var data = {
                    objectId: objData.id,   //传承人馆ID
                    current: objData.page,   //页数
                    pageSize: objData.num,    //数量/页
                    parentId: _this.basModelId //当前传承人馆的ID
                };
//               console.log('data==========',data);
                getConsulData(_url, data, function (obj) {
                    //资讯数据
                    if (_this.masStatus == 1) {
                        _this.newsData = _this.newsData.concat(obj.newsData);
                    }
                    if (_this.masStatus == 2) {
                        _this.newsData = obj.newsData;
                    }


                    _this.consStatus = obj.status;

                    //将当期浏览的资讯数据、数据状态、分页缓存本地
                    var objData = {
                        data: _this.newsData,
                        status: _this.consStatus,
                        objPage: _this.objData.page
                    };
                    //缓存本地
                    _setUpdata(objData);


                    callback && callback(obj)            //swiper回调  post请求之后执行
                    _this.state = false;         //加载后隐藏正在加载列表
                    _this.consMsg = true;           //加载后显示load...
                    //  console.log("))))))))))))))",_this.newsData);
                });
            },
            //禁止滑动
            hidden(thisTop) {
                var scrollTop = window.pageYOffset
                    || document.documentElement.scrollTop
                    || document.body.scrollTop
                    || 0;
                document.body.style.top = "-" + thisTop + "px";
                document.body.style.position = 'fixed';
                //console.log(thisTop);
            },
            //解除禁止滚动
            show(thisTop) {
                document.body.style.overflow = '';
                document.body.style.position = null;
                document.body.style.top = null;
                window.scrollTo(0, thisTop);
            },
            //滚动事件
            handleScroll() {
                var top = $(window).scrollTop();
                this.hiddenTop = top;
                localStorage.setItem("handleScroll", top);

//                console.log(top);
//                if(top > 883){
//                    this.suction = true;
//                }else{
//                    this.suction = false;
//                }


            },
            //取滚动的默认高度 和 默认展示的频道
            defaultScroll: function () {
                var StrScroll = localStorage.getItem("handleScroll");
                var defaultScroll = Number(StrScroll);
                $("html, body").scrollTop(defaultScroll);
                this.$nextTick(function () {
                    setTimeout(()=>{
                        window.addEventListener('scroll',this.handleScroll);
                    },2000)
                })
            },
            //存储当前点击的频道
            default_channel: function (index) {
                localStorage.setItem("default-channel", index);
            },
            //loading
            loadingAndNoNetwork(){
                var _data = mySessionStorage.getter('newsData')
                if(_data){
                    this.self.loading.show = false
                    this.self.page.show = true
                }else {
                    for (let i = 1; i < 6; i++) {
                        setTimeout(()=>{
                            if(this.self.page.data){
                                this.self.loading.show = false
                                this.self.page.show = true
                            }
                        },i*500)
                    }
                }
                setTimeout(()=>{
                    this.self.loading.show = false
                },overTime)
            }
        },
        updated: function () {
            // 懒加载
            var self = this;
            self.$nextTick(function () {
                onloding($("img.lazy"));
            })
        },
        mounted: function () {
            var _this = this;
            //分享后的页面导航显示
            callApp(null, function () {
                if (_htmlShear() == true) {
                    //分享后的页面清除缓存
                    removeLost();
                    //显示分享后的导航 隐藏原导航
                    _this.head.apphead = true;
                    _this.head.h5head = false;
                } else {
                    //显示原导航  隐藏分享后的导航
                    _this.head.apphead = false;
                    _this.head.h5head = true;
                }
            });

            var channel = localStorage.getItem("default-channel");

            //客户端存储num值   刷新当前页面
            this._initAll();
            this.objData.id = 8;
            this.objData.num = 1;

            switch (channel) {
                case "0":                //默认百科频道
                    this._getDias(this.objData, function () {   //为null默认显示百科
                        _this.$nextTick(function () {
                            _this.defaultScroll();
                        })
                    });
                    break;
                case "1":                //默认作品频道
                    this._getDias(this.objData, function () {
                        _this.dias = false;       //百科内容状态
                        _this.works = true;      //作品内容状态
                        _this.cons = false;        //资讯内容状态

                        _this.ivdias = false;      //百科按钮状态
                        _this.ivwork = true;      //作品按钮状态
                        _this.ivcons = false;      //资讯按钮转台

                        if (_getUpdata()) {
                            _this.worksContent = _getUpdata().data;
                            _this.workStatus = _getUpdata().status;
                            _this.objData.page = _getUpdata().objPage;
                            _this.workMsg = true;
                            $(function () {
                                _this.defaultScroll();
                            })


                        } else {
                            _this.objData.id = 15;
                            _this.objData.page = 1;
                            _this.objData.num = 5;
                            _this.masStatus = 2;   //不累加
                            _this._getWorks(_this.objData, function () {
                                $(function () {
                                    _this.defaultScroll();
                                })
                            });
                        }

                    });
                    break;
                case "2":                //默认资讯频道
                    this._getDias(this.objData, function () {
                        _this.dias = false;       //百科内容状态
                        _this.works = false;      //作品内容状态
                        _this.cons = true;        //资讯内容状态

                        _this.ivdias = false;      //百科按钮状态
                        _this.ivwork = false;      //作品按钮状态
                        _this.ivcons = true;      //资讯按钮转台

                        if (_getUpdata()) {
                            _this.newsData = _getUpdata().data;
                            _this.consStatus = _getUpdata().status;
                            _this.objData.page = _getUpdata().objPage;
                            _this.consMsg = true;
                            $(function () {
                                _this.defaultScroll();
                            })
                        } else {
                            _this.objData.id = 14;
                            _this.objData.page = 1;
                            _this.objData.num = 5;
                            _this.masStatus = 2;   //不累加
                            //资讯数据
                            _this._getConsul(_this.objData, function () {
                                $(function () {
                                    _this.defaultScroll();
                                })
                            });
                        }
                    });
                    break;
                default:
                    this._getDias(this.objData, function () {      //为null默认显示百科
                        _this.$nextTick(function () {
                            _this.defaultScroll();
                        })
                    });
            }
            // 五秒后
            setTimeout(function () {
                if (_this.msg) {
                    _this.load_msg.shopMsg = true;
                    _this.load_msg.networkMsg = true;
                    _this.load_msg.btn_msg = true;
                    _this.load_msg.returnMsg = true;
                } else {
                    _this.load_msg.shopMsg = false;
                    _this.load_msg.networkMsg = false;
                    _this.load_msg.btn_msg = false;
                    _this.load_msg.returnMsg = false;
                }
            }, overTime)

            this.loadingAndNoNetwork()
        }
    })


</script>

<script type="text/javascript" src="../../cordova.js"></script>
</body>
</html>
